*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    padding: 10px;
}
div{
    height: 100px;
    width: 600px;
    margin-bottom: 20px;
}
body :nth-child(1){
    border:  black 2px ;
    border-style: dashed solid dotted solid;
}
body :nth-child(2){
    border:  black 2px ;
    border-style: solid solid dashed dotted;
}
body :nth-child(3){
    border:  black 2px dotted;    
}
body :nth-child(4){
    border:  black 2px solid;    
}
body :nth-child(5){
    border:  blue 2px solid;    

}
body :nth-child(6){
    border: 2px ; 
    border-color: green blue green green;
    border-style: solid solid dotted solid;   

}